<div class="container">
	<div class="title" id="order-details">
		<h1>order details</h1>
	</div>
	<div class="confirmation-details" >
		<h3 id="name"><%= @event.name %></h3>
		<br>
		<h3 class="info" id="event-address"><strong>Location : </strong><%= @event.address %></h3>
		<br>
		<h3 class="info" id="event-description"><strong>Description : </strong><%= @event.description %></h3>
		<br>
		<div class="green-info">
			<% unless @event.start_date.nil? %>
			<h3 class="info">Date :&nbsp&nbsp</h3>
			<h3 class="green"><%= @event.start_date.strftime("%Y/%m/%d %l:%M %p") %></h3>
			<% end %>
		</div>
		<br>
		<div class="green-info">
			<h3 class="info">Total :&nbsp&nbsp</h3>
			<h3 class="green">$<%= @event.price %></h3>
		</div>
	</div>
	<br>

	<%= link_to event_attendances_path(@event), method: "post" do %>
        <button type="button" id="book-btn">Sync to calendar</button>
      <% end %>
</div>
