<body>
  <div class="search-container">
    <%= link_to map_path do %>
    <button type="button" class="map-btn">MAP</button>
    <% end %>
    <div id="search-bar">
      <%= form_tag events_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        id: "search-bar-input",
        placeholder: "find an event"
        %>
        <%= submit_tag "➜", id: "searchbar-btn" %>
      <% end %>
    </div>
  </div>
  <div class="filter-bar pb-2">
    <div class="btn-group">
      <button type="button" class="btn btn-up">Moods</button>
      <button type="button" class="btn dropdown-toggle btn-up dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Happy</a>
        <a class="dropdown-item" href="#">Strong</a>
        <a class="dropdown-item" href="#">Creative</a>
        <a class="dropdown-item" href="#">Self-reflective</a>
        <a class="dropdown-item" href="#">free</a>
        <a class="dropdown-item" href="#">joyful</a>
        <a class="dropdown-item" href="#">adventurous</a>
        <a class="dropdown-item" href="#">inspired</a>
        <a class="dropdown-item" href="#">relaxed</a>
        <a class="dropdown-item" href="#">romantic</a>
        <a class="dropdown-item" href="#">thoughtful</a>
        <a class="dropdown-item" href="#">calm</a>
        <a class="dropdown-item" href="#">humorous</a>
      </div>
    </div>
    <div class="date-filter">
      <h4>date</h4>
    </div>
  </div>
  <div class="container">
    <div class="row row-cols-2-s justify-content-center">
      <% @events.each do |e| %>
      <div class ="col p-0">
        <%= link_to event_path(e) do %>
        <div class="card text-center mt-3 mb-2" id="index-cards">
          <% e.photos.each do |photo| %>
          <%= cl_image_tag photo.key, crop: :fill, class: "card-photo" %>
          <div class="card-title">
            <h5><%= e.name %></h5>
          </div>
          <div class="card-details">
            <p><%= e.price %></p>
          </div>
          <% end %>
        </div>
      <% end %>
      </div>
      <% end %>
    </div>
  </div>
<body>
