<body>
  <div class="search-container">
    <button type="button" class="map-btn" id="map-button1">MAP</button>
    <div id="search-bar">
      <%= form_tag events_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        id: "search-bar-input",
        placeholder: "search for an activity..."
        %>
        <input type="hidden" name="latitude" value="<%= params[:latitude] %>">
        <input type="hidden" name="longitude" value="<%= params[:longitude] %>">
        <input type="hidden" name="moods" value="<%= params[:moods] %>" >
        <select name="mood">
          <% Mood.all.each do |mood| %>
            <option value="<% mood.id %>">
              <%= mood.name %>
            </option>
          <% end %>
        </select>
        <select>
          <option value="0">free</option>
          <option value="1,24">1-24</option>
          <option value="25,49">25-49</option>
          <option value="50,99">50-99</option>
          <option value="100+">100+</option>

        </select>

        <%= submit_tag " ➜ ", id: "searchbar-btn" %>
      <% end %>
    </div>
  </div>
  <div style="display: none"></div>
  <div class="filter-bar pb-2">
    <div class="btn-group mt-1">
      <button type="button" class="mood-drop-btn btn-up dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="mood-dropdown">mood</button>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <ul class="mood-list">
          <li class="mood-item" href="#">Adventurous</li>
          <li class="mood-item" href="#">Social</li>
          <li class="mood-item" href="#">Creative</li>
          <li class="mood-item" href="#">Peaceful</li>
          <li class="mood-item" href="#">Energized</li>
          <li class="mood-item" href="#">Cheerful</li>
          <li class="mood-item" href="#">Romantic</li>
          <li class="mood-item" href="#">Reflective</li>
          <li class="mood-item" href="#">Playful</li>
          <li class="mood-item" href="#">Powerful</li>
          <li class="mood-item" href="#">Curious</li>
          <li class="mood-item" href="#">Inspired</li>
        </ul>
      </div>
    </div>

    <div class="btn-group mt-1">
      <button type="button" class="mood-drop-btn btn-up dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="mood-dropdown">price</button>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <ul class="mood-list">
          <li class="mood-item" href="#">free</li>
          <li class="mood-item" href="#">$1 - $24</li>
          <li class="mood-item" href="#">$25 - $49</li>
          <li class="mood-item" href="#">$50 - $99</li>
          <li class="mood-item" href="#">$100 +</li>
        </ul>
      </div>
    </div>
    <div class="datetimepicker btn-group">
      <form action="/events">
        <input type="date" id="date5"name="date">
        <input type="hidden" name="latitude" value="<%= params[:latitude] %>">
        <input type="hidden" name="longitude" value="<%= params[:longitude] %>">
        <input type="hidden" name="moods" value="<%= params[:moods] %>" >
        <%= submit_tag " ➜ ", id: "searchbar-btn" %>
      </form>
    </div>
  </div>

  <div class="container">
    <% if @events.nil?  %>
    <div class="container mt-3">
      <h1>Sorry, no events are near you!</h1>
    </div>
    <% else %>
    <div class="row row-cols-2-s ml-1 mr-1">
      <% @events.each do |e| %>
      <div class ="col-6 col-lg-4">
        <% unless e.start_date.nil? %>
          <% if e.start_date < Time.now %>
            <% e.destroy %>
          <% end %>
        <% end %>    
        <div class="card text-center mt-3 mb-3" >
          <%= link_to event_path(e) do %>
            <% e.photos.each do |photo| %>
            <%= cl_image_tag photo.key, crop: :fill, class: "card-photo" %>
            <% end %>
            <div class="card-title" >
              <h5><%= e.name %></h5>
            </div>
           
             <div class="card-details" >
              <% if e.price == 0 || e.price == "0" || e.price == "free" %>
              <p>Free</p>
              <% else %>
              <p>$<%= e.price %></p>
              <% end %>
            </div>
            <% if current_user %>
            <div class="bookmark"> 
              <% if e.bookmark_by_user(current_user) %>
                <i class="fas fa-bookmark" data-form-id="<%= e.id %>"></i>
              <% else %>
                <i class="far fa-bookmark" data-form-id="<%= e.id %>"></i>
              <% end %>
            </div>
        <% end %>
            <div class="date-time">
              <% unless e.start_date.nil? %>
              <p> <%= e.start_date.strftime("%m/%d/%Y") %> </p>
              <% end %>
            </div>
          
            
        </div>
      <% end %>
      </div>
      <% end %>

    </div>
    <% end %>
  </div>
<body>
