<body>
  <div class="search-container">
    <button type="button" class="map-btn" id="map-button1">MAP</button>
    <div id="search-bar">
      <%= form_tag events_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        id: "search-bar-input",
        placeholder: "search for an activity..."
        %>
        <%= submit_tag " ➜ ", id: "searchbar-btn" %>
      <% end %>
    </div>
  </div>
  <div style="display: none"></div>
  <div class="filter-bar pb-2">
    <div class="btn-group mt-1">
      <button type="button" class="mood-drop-btn btn-up dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="mood-dropdown">mood</button>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <ul class="mood-list">
          <li class="mood-item" href="#">Happy</li>
          <li class="mood-item" href="#">Strong</li>
          <li class="mood-item" href="#">Creative</li>
          <li class="mood-item" href="#">Self-reflective</li>
          <li class="mood-item" href="#">Free</li>
          <li class="mood-item" href="#">Joyful</li>
          <li class="mood-item" href="#">Adventurous</li>
          <li class="mood-item" href="#">Inspired</li>
          <li class="mood-item" href="#">Relaxed</li>
          <li class="mood-item" href="#">Romantic</li>
          <li class="mood-item" href="#">Thoughtful</li>
          <li class="mood-item" href="#">Calm</li>
          <li class="mood-item" href="#">Humorous</li>
        </ul>
      </div>
    </div>

    <div class="btn-group mt-1">
      <button type="button" class="mood-drop-btn btn-up dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="mood-dropdown">price</button>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <ul class="mood-list">
          <li class="mood-item" href="#">free</li>
          <li class="mood-item" href="#">$1 - $24</li>
          <li class="mood-item" href="#">$25 - $49</li>
          <li class="mood-item" href="#">$50 - $99</li>
          <li class="mood-item" href="#">$100 +</li>
        </ul>
      </div>
    </div>
    <dropdown>
  <input id="toggle1" type="checkbox">
  <label for="toggle1" class="mood-drop-btn btn-group mt-1 btn-up1" id="date-dropdown">
    <span class="iconify" data-icon="akar-icons:calendar" data-inline="false"></span>
  </label>
  <ul class="animate">
    
<!-- calendar  -->
<h1 class="center"></h1>
<div class="calendar" style="margin-top:60px;">
  <div class="group">
    <p class="left pointer minusmonth">&laquo;</p>
    <p class="left monthname center pointer"></p>
    <p class="right pointer addmonth">&raquo;</p>
  </div>
  <ul class="group">
    <li>Mo</li>
    <li>Tu</li>
    <li>We</li>
    <li>Th</li>
    <li>Fr</li>
    <li>Sa</li>
    <li>Su</li>
  </ul>
</div>

  </ul>
</dropdown>

  </div>
  <div class="container">
    <div class="row row-cols-2-s ml-1 mr-1">
      <% @events.each do |e| %>
      <div class ="col-6 col-lg-4">
  
        <div class="card text-center mt-3 mb-3" >
          <%= link_to event_path(e) do %>
          <% e.photos.each do |photo| %>
          <%= cl_image_tag photo.key, crop: :fill, class: "card-photo" %>
          <div class="card-title" >
            <h5><%= e.name %></h5>
          </div>
          <div class="card-details" >
            <% if e.price == "Free" || e.price == "FREE" || e.price == "free" %>
            <p><%= e.price %></p>
            <% else %>
            <p>$<%= e.price %></p>
            <% end %>
          </div>

          <div class="bookmark"> 
            <% if e.bookmark_by_user(current_user) %>
              <%= link_to bookmark_path(e.bookmark_by_user(current_user),latitude: params[:latitude],longitude:params[:longitude]),method: :delete, remote: true do %>

              <i class="fa-heart bookmark-heart fas red" data-form-id="<%= e.id %>"></i>
              <% end %>
            <% else %>
              <div class="hidden" id="form_<%= e.id %>" style="display:none">
              <%= simple_form_for @new_bookmark, url: bookmarks_path+"?latitude=#{params[:latitude]}&longitude=#{params[:longitude]}" do |f| %>
              <%= f.input :event_id, input_html: {value: e.id}, as: :hidden %>
              <%= f.submit %>
              <% end %>
              </div>
              <i class="far fa-heart bookmark-heart" data-form-id="<%= e.id %>"></i>

            <% end %>
          </div>

          <div class="date-time">
            <p> <%= e.start_date.strftime("%m/%d/%Y") %> </p>
          </div>
          
          <% end %>
        </div>
      <% end %>
      </div>
      <% end %>
    </div>
  </div>
<body>
