<body>
	<div class="container mt-2">
		<div>
			<h1 class="title"><%= @event.name %></h1>
		</div>
		<div class="details">
		<h3 class="address"><%= @event.address %></h3>
			<% unless @event.start_date.nil? %>
			<h3>Date: <%= @event.start_date.strftime("%m/%d/%Y %l:%M %p") %></h3>
			<% end %>
		</div>
		<div class="photo-container">
			<% @event.photos.each do |photo| %>
				<%= cl_image_tag photo.key, height: 200, width: 300, crop: :fill, class: "photo" %>
			<% end %>
			<h3 class="price">$<%= @event.price %></h3>
		</div>
		<div>
			
			<h3 class="description"><%= @event.description %></h3>
		</div>
		</div>
		<div class="confirm">
			<% if @event.price == 0 %>
	      <%= link_to confirmation_path(@event) do %>
	        <button type="button" id="book-btn">Book</button>
	      <% end %>
	    <% elsif @event.payment_url.present? %>
	    	<%= link_to @event.payment_url do %>
	    	<button type="button" id="book-btn">Book</button>
	    	<% end %>
	    <% else %>
				<%= form_tag orders_path do %>
				  <%= hidden_field_tag 'event_id', @event.id %>
				  <%= submit_tag 'Purchase', id:"book-btn" %>
				<% end %>
			<% end %>
		</div>
    <div class="link-back">
			<button type="button" id="back-btn">Back to results</button>
		</div>
		<div class="confirm">
			<% if policy(@event).edit? %>
				<%= link_to edit_event_path(@event) do %>
					<button type="button" id="book-btn">Update event</button>
				<% end %>
			<% end %>
		</div>
		<div class="link-back">
			<% if policy(@event).destroy? %>
				<%= link_to event_path(@event), method: :delete, data: { confirm: "Are you sure?" } do %>
				<button type="button" id="back-btn">Delete</button>
				<% end %>
			<% end %>
		</div>	
	</div>
</body>