<body>
	<div class="container mt-5">
		<div class="title">
			<h1><%= @event.name %></h1>
		</div>
		<div class="details">
			<h3>Price: $<%= @event.price %></h3>
			<h3>Address: <%= @event.address %></h3>
			<h3>Date: <%= @event.start_date.strftime("%Y/%m/%d %l:%M %p") %></h3>
			<h3>Description: <%= @event.description %></h3>
		</div>
		<div class="photo-container">
			<% @event.photos.each do |photo| %>
				<%= cl_image_tag photo.key, height: 200, width: 300, crop: :fill, class: "photo" %>
			<% end %>
		</div>
		<div class="confirm">
      <%= link_to confirmation_path(@event) do %>
        <button type="button" id="book-btn">BOOK</button>
      <% end %>
		</div>
    <div class="link-back">
			<%= link_to "Back", events_path %>
		</div>
</body>