<body>
	<div class="container mt-5">
		<div class="title">
			<h1><%= @event.name %></h1>
		</div>
		<div class="details">
			<h3>Price: $<%= @event.price %></h3>
			<h3>Address: <%= @event.address %></h3>
			<h3>Date: <%= @event.date %></h3>
			<h3>Description: <%= @event.description %></h3>
			<h3>Time: <%= @event.time %></h3>
		</div>
		<div class="photo">
			<% @event.photos.each do |photo| %>
				<%= cl_image_tag photo.key, height: 200, width: 300, crop: :fill %>
			<% end %>
		</div>
		<div class="confirm" style="text-align: center;">
      <%= link_to confirmation_path(@event) do %>
        <button type="button" class="btn" id="book-btn">BOOK</button>
      <% end %>
    </div>
	<%= link_to "Back", events_path %>
	</div>
</body>

