<lodiv class="container">
  <div class="row py-4">
   
    <div class="col">
      <h1 class="order-num">Order #105<%= @order.id %> </h1>
      <h2><span class="confirmation-status">* <%= @order.state %> *</span></h2>
      <div class="confirmation-details">
        <h3 id="name"><%= @order.event.name %></h3>
        <br>
        <h3 class="info"><strong>Location :&nbsp&nbsp</strong><%= @order.event.address %></h3>
        <br>
        <h3 class="info"><strong>Description :&nbsp&nbsp</strong><%= @order.event.description %></h3>
        <br>
        <div class ="green-info">
          <% unless @order.event.start_date.nil? %>
          <h3 class="info">Date :&nbsp&nbsp</h3>
          <h3 class="green"><%= @order.event.start_date.strftime("%Y/%m/%d %l:%M %p") %></h3>
          <% end %>
        </div>
        <br>
        <div class="green-info">
          <h3 class="info">Total :&nbsp&nbsp</h3>
          <h3 class="green">$<%= @order.event.price %></h3>
        </div>
        <br>
        <div class="green-info">
          <h3 class="info">Issued On :&nbsp&nbsp</h3>
          <h3 class="green"><%= @order.created_at.to_date %></h3>
        </div>
        <div class="link-back mt-4">
        <%= link_to event_attendances_path(@order.event), method: "post" do %>
          <button type="button" id="book-btn">Sync to calendar</button>
      <% end %>
      <div class="link-back">
        <button type="button" class="backto" id="back-btn">Back to results</button>
      </div>
  

    </div>
  </div>
</div>