
<body>
  <div class="row" id="a-card-row">
    <div class="col-12 col-lg-3">
        <% @attendances.each do |attendance| %>
        <div class="a-date">
          <% unless attendance.event.start_date.nil? %>
          <p><%= attendance.event.start_date.strftime("%Y/%m/%d  @ %l:%M %p") %></p>
          <% end %>
        </div>
        <div class="a-card">
          <div class="a-card-content">
            <% attendance.event.photos.each do |photo| %>
            <%= cl_image_tag photo.key, crop: :fill, class: "a-card-photo" %>
            <% end %>
            <div class="a-card-details">
              <div class="a-name">
                <h2><%= attendance.event.name %></h2>
              </div>
              <div class="a-addy">
                <p><%= attendance.event.address %></p>
              </div>
              <div class="view-dets">
                <%= link_to event_path(attendance.event) do %>
            <button type="button" id="details-button">View Details</button>
            <% end %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <br>
</body
